.button {
  padding: 0.3rem;
  margin: 0.25rem;

  background: #ffffff;

  border: 1px solid #d0d5dd;
  border-radius: 50%;

  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;

  transition: all 0.2s ease-in-out;

  &:hover {
    border: 1px dashed #d0d5dd;
    background: #f9fafb;
  }

  &:focus-visible,
  &:focus {
    border: 1px dashed #d0d5dd;

    outline: none;
    background: #ffffff;
    box-shadow: 0px 0px 0px 4px #f2f4f7;
  }

  &:disabled,
  &.disabled {
    border: 1px dashed #d0d5dd;

    cursor: not-allowed;

    background: #fcfcfd;
    border: 1px solid #f2f4f7;
  }
}
