.contact {
  width: 60%;
  align-items: flex-start;

  // desktop only
  @media (min-width: 768px) {
    $contact-marginY: 5rem;

    margin-top: $contact-marginY;
    margin-bottom: $contact-marginY;
  }
}
