@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif !important;
}

:root {
  font-size: 16px;
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  // desktop only
  @media (min-width: 768px) {
    padding: 0 5rem;
  }
}

.profile {
  width: 100%;
  margin: 1rem 0;
  text-align: center;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: '. . .';

    width: 100%;
    justify-items: center;
  }
}

#slack {
  display: none;
}

.social__icons {
  > * {
    margin: 0 1rem;
  }

  margin-top: 1rem;
  margin-bottom: 3rem;
}

hr {
  width: 100%;
  margin: 1rem 0;

  border: 1px solid #eaecf0;
}

.footer {
  width: 100%;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  > * {
    margin: 0.5rem 0;
  }

  // desktop only
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
